@import url("https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,300&display=swap");

html {
  font-size: 16px;
  font-family: "Newsreader", serif;
}

canvas {
    border: 2px solid black;
    background-color: lightgrey;
}

body {
    background: rgb(164,93,1);
    background: linear-gradient(90deg, rgba(164,93,1,1) 0%, rgba(186,138,8,1) 40%, rgba(40,149,145,1) 100%);
    text-align: center;
}

#controlsinfo {
    text-align: center;
    /* float: left; */
    position: absolute;
    left: 10px;
}

#controlsinfo:hover {
    -webkit-filter: brightness(50%);
}

#pongtitle {
    font-size: 60px;
    margin: 20px 0;
}

/* . will select class, #will select score */
#score {
font-size: 80px;
margin: 10px 0 5px 0;
}

#resetbutton {
    font-size: 25px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    border: 0;
}

#resetbutton:hover {
    -webkit-filter: brightness(50%);